<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/a.png')}}">
    <img src="{{url_for('static', filename='img/a.png')}}" alt="Cinque Terre" width="100%">  </a>
  <div class="desc"></div>
</div>

<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/b.png')}}">
    <img src="{{url_for('static', filename='img/b.png')}}" alt="Forest" width="100%" >
  </a>
  <div class="desc"></div>
</div>

<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/c.png')}}">
    <img src="{{url_for('static', filename='img/c.png')}}" alt="Northern Lights" width="100%">
  </a>
  <div class="desc"></div>
</div>

<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/d.png')}}">
    <img src="{{url_for('static', filename='img/d.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/e.png')}}">
    <img src="{{url_for('static', filename='img/e.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/f.png')}}">
    <img src="{{url_for('static', filename='img/f.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/g.png')}}">
    <img src="{{url_for('static', filename='img/g.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/h.png')}}">
    <img src="{{url_for('static', filename='img/h.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/i.png')}}">
    <img src="{{url_for('static', filename='img/i.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/j.png')}}">
    <img src="{{url_for('static', filename='img/j.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/k.png')}}">
    <img src="{{url_for('static', filename='img/k.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="{{url_for('static', filename='img/l.png')}}">
    <img src="{{url_for('static', filename='img/l.png')}}" alt="Mountains" width="100%" >
  </a>
  <div class="desc"></div>
</div>

</body>
</html>
